@model dynamic

@{
    ViewBag.Title = "Attributions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sounds</h2>
<a href="http://soundbible.com/1542-Air-Horn.html">AirHorn.mp3</a>, by Mike Koenig, is licenced by <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a><br/>
<a href="http://soundbible.com/1003-Ta-Da.html">TaDa.mp3</a>, by Mike Koenig, is licenced by <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a><br />
<a href="http://soundbible.com/1964-Small-Crowd-Applause.html">SmallCrowdApplause.mp3</a>, by Yannick Lemieux, is licenced by <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a><br />

