<div class="signalrdashboard-component right-align-col-2">
    <div class="row">
        <div class="col-lg-12 component-title">
            Site Statistics
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">Visitors</div>
        <div class="col-lg-5">{{model.visitors}}</div>
    </div>
    <div class="row">
        <div class="col-lg-7">Sessions</div>
        <div class="col-lg-5">{{model.sessions}}</div>
    </div>
    <div class="row">
        <div class="col-lg-7">Page Views</div>
        <div class="col-lg-5">{{model.pageViews}}</div>
    </div>
    <div class="row">
        <div class="col-lg-7">Pages/Session</div>
        <div class="col-lg-5">{{model.pagesPerSession}}</div>
    </div>
    <div class="row">
        <div class="col-lg-7">Avg. Session Duration</div>
        <div class="col-lg-5">{{model.averageSessionDuration}}</div>
    </div>
    <div class="row">
        <div class="col-lg-7">Bounce Rate</div>
        <div class="col-lg-5">{{model.bounceRate}}%</div>
    </div>
</div>